<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelloWorld!</title>
    <!--这里也可以存放-->
</head>
<body>

    <p>清输入要加载的地址：<span id="curtime"></span> </p>
    <p>
        <input type="text" id="url" value="">
        <input type="button" value="提交" onclick="loadPage()">
    </p>

    <div>
        <h3>
            加载页面的位置
        </h3>
        <iframe id="iframePosition" style="width: 100%;height: 500px" frameborder="1">
        
        </iframe>
    </div>

    <script text=javascript src="../js/main.js"></script>
</body>
</html>

